.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;

  &_watchPf {
    button {
      color: #a89365;
      font-weight: 400;
      font-style: normal;
    }
  }
}

@media screen and (max-device-width: 600px) {
  .header {
    padding-bottom: 20px;
  }
}

@media screen and (max-device-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &_watchPf {
      button {
        padding-top: 10px;
      }
    }
  }
}
